@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heroButton {
		@apply px-3 xl:px-6 py-2 rounded-full uppercase text-xs tracking-tight xl:tracking-widest text-gray-500 transition-all hover:text-[#f7ab0a]/40;
	}
	.contactInput {
		@apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-gray-200/40 focus:text-gray-200/40;
	}
}
